  body{
    background-image: url("https://wallpaperaccess.com/full/3090099.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.left{
    color: white;
    display: inline-block;
    position: absolute;
    left : 22px;
    top: 6px;
}
.left img{
    width: 100px;
}
.mid{
    color: wheat;
    display: block;
    width: 36%;
    margin: 28px auto;
    padding: 1px;
}
.right{
    color: aliceblue;
    display: inline-block;
    position: absolute;                                         /* to fix the position according to parent */
    right: 22px;
    top: 6px;
}
.btn{
    margin: 37px 9px;
    padding: 4px 12px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid grey;
    cursor: pointer;
}
.btn:hover{
    color: yellow;
}
.navbar{
    display: inline-block;
}
.navbar li {
    display: inline-block;
    font-size : 18px;
}
.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px ;
    font-size: 22px;
}
.navbar li a:hover , .navbar li a.active{
    color: rgb(174, 247, 4);
    text-decoration: underline;
}
.container{
    color: aliceblue;
    border: 3px solid rgb(243, 242, 242);
    margin: 69px 784px;
    padding: 31px 77px;
    width: 19%;
    border-radius: 20px;

}
.form1 input{
    text-align: center;
    display: block;
    width: 248px;
    padding: 12px;
    border: 3px solid rgb(104 98 98);
}
.glow {
    font-size: 32px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }